body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  background-attachment: fixed;
color: #333;
}

/* Center the whole calculator page */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 70vh;
}

/* Display screen */
#display {
  width: 260px;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;

  border: none;
  border-radius: 10px;
  margin-bottom: 15px;

  background: #3f3f3f;
  color: #fff;
}

/* Button grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

/* Buttons */
.buttons button {
  width: 60px;
  height: 60px;
  font-size: 18px;

  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: linear-gradient(135deg, #667eea, #4ba25e);
  color: white;

  transition: 0.2s;
}

.buttons button:hover {
  transform: scale(1.05);
  background: #ff7a18;
}

/* Page alignment */
header {
  text-align:center;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;

  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: white;

  text-decoration: none;
  font-weight: 600;

  border-radius: 25px;
  text-align: center;

  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* Center back button on project pages */
body > .btn {
  display: block;
  width: fit-content;
  margin: 30px auto;
}